
<% if @answers.empty? %>
  <div class='answer'>
    <h1>No Answers Yet!</h1>
  </div>
<% else %>
  <% @answers.each do |answer| %>
    <div class='answer'>
      <p><%= answer.question.title %>
      <p><%= answer.question.body %>
      <p><%= answer.body %></p>
      <p class='answer-info'><%= answer.created_at.strftime("%l:%M%P, %-m.%-d.%y") %></p>
    </div>
  <% end %>
<% end %>
