
// COLORS
$body-background: rgb(255, 255, 255);
$body-background-clear: rgba(213, 232, 236, 0.3);
$content-background: rgba(230, 235, 230, 0.4);
$content-green: rgba(174, 218, 171, .6);

$light-green-actions: rgb(152, 226, 181);
$dark-green-actions: rgb(112, 198, 146);
$light-blue: rgb(13, 129, 223);

$dark-blue: rgb(80, 138, 168);

$border-one: rgb(138, 141, 142);

// FONTS

$regular: 'RobotoCondensed', sans-serif;
$large: 'RobotoSlab', serif;

// MIXINS

@mixin hr-one {
  width: 65%;
  margin: 1.25vh auto;
  border: 0;
  height: 1px;
  background-image: -webkit-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
  background-image: -moz-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
  background-image: -ms-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
  background-image: -o-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
}

@mixin collapsible-animation {
  overflow: hidden;
  max-height: 0;
  transition: max-height 0.1s ease-out;
}

// APP WIDE STYLINGS

.content-view {
  height: 92vh;
  margin-right: -50px;
  margin-top: .25vh;
  overflow-y: scroll;
  padding-right: 50px;
}

.gradiant-hr {
  @include hr-one
}

.form-submit-button {
  background-color: $light-green-actions;
  border: 1px black solid;
  border-radius: 3%;
  color: black;
  margin-right: 1vw;
  padding: 5px;
  text-decoration: none;
}

.form-submit-button.alt{
  background-color: $light-green-actions;
  border: 1px black solid;
  border-radius: 3%;
  color: black;
  margin-right: 1vw;
  padding: 7px;
  text-decoration: none;
}

.form-submit-button:hover {
  background-color: $dark-green-actions;
}

.form-submit-button:focus {
  outline: 0;
}

.aura {
  background-color: $dark-green-actions;
  border-radius: 50%;
  color: white;
  padding: 2px 6px;
}
