// Place all the styles related to the answers controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.answer-form-top {
  height: 20vh;
  border-bottom: 2px black solid;
}

.answer-form-empty-answer {
  height: 20vh;
  background-color: grey;
}

.answer-form-middle {

}
