.answer-form {
  border-radius: 3px;
  font-family: $regular;
  margin: 2vh auto;
}

.collapsible-answer {
  @include collapsible-animation;
  width: 100%;
}

.answer-form-body {
  display: flex;
  justify-content: center;
  margin: 2vh auto;
  width: 90%;
}

.answer-input {
  font-size: 1rem;
  width: 80%;
}

.answer-form-actions {
  padding-top: 2vh;
}

.question-answers {
  height: 70vh;
  margin-right: -50px;
  margin-top: 1vh;
  overflow-y: scroll;
  padding-right: 50px;
  width: 100%;
}

.user-question-answers {
  @extend .question-answers;
  height: 90vh;
}

.answer {
  @extend .question;
  margin: 1.15vh auto;
  width: 90%;
}

.no-answer {
  display: flex;
  justify-content: center;
  margin: auto 0;
}

.answer-body {
  margin-bottom: 1vh;
  padding: 1vh 2vw;
}

.answer-data {
  @extend .question-data;
  align-items: center;
  font-family: $regular;
  justify-content: center;
  margin: 0 auto;
  min-height: 10vh;
  width: 80%;
}

.answer-buttons {
  align-items: center;
  display: flex;
  justify-content: flex-start;
  width: 25%;
}

.answer-edited-at {
  align-items: center;
  display: flex;
  justify-content: center;
  width: 25%;
}

.answer-answered-at {
  align-items: flex-end;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-right: .5vw;
  width: 40%;
}

.answer-aura {
  align-items: center;
  display: flex;
  justify-content: flex-start;
  width: 10%;
}

.answer-divider {
  margin: 1vh auto;
}

.answer-info {
  font-size: .9rem;
}
