.question-header {
  height: 10vh;
  min-height: 80px;
  width: 70%;
  // min-width: 320px;
  display: flex;
  align-items: center;
  justify-content: center;


}

.questions-view {
  height: 90vh;
  overflow-y: scroll;

  .header-title {
    text-weight: bold;
    font-size: 2.25rem;
  }
  .header-links {
    margin-left: 25px;
  }
}
