.new-question-content {
  border-radius: 3px;
  font-family: $regular;
  height: 91vh;
  margin: 1vh auto;
  overflow-y: scroll;
  padding: .5rem;

  h2 {
    text-align: center;
    font-family: $large;
  }

  h3 {
    margin-bottom: .8vh;
    font-family: $large;
  }
}

.guidelines {
  background-color: $content-background;
  border: 1px $border-one solid;
  border-radius: 3px;
  padding: .9rem;
}

.guideline {
  margin: 0 auto 1vh;
  width: 90%;
}

.guideline-title {
  height: 45%;
  width: 100%;
}

.guideline-body p {
  font-family: $regular;
  height: 45%;
  width: 100%;
}
