* {
  margin: 0;
  padding: 0;
}

body {
  background-color: $body-background;
}

.body-container {
  display: flex;
  height: 100vh;
  width: 100vw;
}

.sidebar {
  align-items: center;
  background-color: $content-background;
  display: flex;
  flex-direction: column;
  font-family: $regular;
  height: 100vh;
  justify-content: center;
  margin-left: 1vw;
  width: 17vw;

  .sidebar-title {
    align-items: center;
    display: flex;
    justify-content: center;
    height: 9vh;
    width: 100%;

    .sidebar-logo {
      color: black;
      font-family: $large;
      text-decoration: none;
    }

    .sidebar-logo:hover {
      color: $light-green-actions;
    }
  }

  .sidebar-links {
    display: flex;
    flex-direction: column;
    margin: auto;
    margin-left: auto;

    a {
      color: black;
      width: 15vw;
    }

    a:hover {
      background-color: $light-green-actions;
    }

    .sidebar-item {
      align-items: center;
      display: flex;
      font-size: 1.1em;
      height: 5vh;
      padding-left: 2vw;
      text-decoration: none;
    }

    .sidebar-hr {
      margin: 1.25vh auto;
      width: 60%;
    }
  } // .sidebar-links
} // .sidebar

.body-info {
  height: 100vh;
  justify-content: flex-end;
  margin: 0 auto;
  overflow: hidden;
  width: 76vw;
}
