.question {
  background-color: $content-background;
  border: 1px $border-one solid;
  border-radius: 3px;
  font-family: $regular;
  margin-bottom: 1.15vh;
  padding: .9rem;
}

.question-content {
  display: flex;
  flex-direction: column;
  height: 65%;
}

.question-text {
  height: 33%;
  margin-bottom: 1vh;

  h3, p {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  h3 {
    font-family: $large;
  }
}

.question-tags {
  align-items: flex-end;
  display: flex;
  height: 33%;
  margin-bottom: 1vh;
}

.question-data {
  display: flex;
  font-size: .9rem;
  height: 35%;
  margin-bottom: 1vh;

  .question-buttons {
    align-items: center;
    display: flex;
    justify-content: flex-start;
    width: 33%;
  }
  .question-edited-at {
    align-items: center;
    display: flex;
    justify-content: center;
    width: 33%;
  }
  .question-answered-at {
    align-items: center;
    display: flex;
    justify-content: center;
    width: 33%;
  }
}

.question-tag {
  background-color: $light-blue;
  border: 1px black solid;
  border-radius: 3px;
  color: white;
  font-size: .88em;
  margin-right: .75vw;
  margin-top: 1vh;
  padding: 5px;
}

.question-answered-at {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 33%;
}

.data-hr {
  width: 25%;
  border: 1px $border-one solid;
}
