// ************************
// * Question Index Views *
// ************************

.question {
  background-color: $content-background;
  border: 1px $border-one solid;
  border-radius: 3px;
  font-family: $regular;
  margin-bottom: 1.15vh;
  overflow-y: hidden;
  padding: .9em;
}

.question-content {
  display: flex;
  flex-direction: column;
}

.question-text {
  height: 25%;
  margin-bottom: 1vh;

  h3, p {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  h3 {
    font-family: $large;
  }
}

.question-tags {
  align-items: flex-end;
  display: flex;
  height: 25%;
  margin-bottom: 1vh;
}

.question-data {
  display: flex;
  font-size: .9rem;
  height: 50%;
}

.question-buttons {
  align-items: center;
  display: flex;
  justify-content: flex-start;
  width: 40%;
}

.question-edited-at {
  align-items: center;
  display: flex;
  justify-content: center;
  width: 30%;
}

.question-tag {
  background-color: $light-blue;
  border: 1px black solid;
  border-radius: 3px;
  color: white;
  font-size: .88em;
  margin-right: .75vw;
  margin-top: 1vh;
  padding: 5px;
}

.question-answered-at {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 30%;
}


// **********************
// * Question Show View *
// **********************

.full-question {
  @extend .question;
  padding: 1.1em;
  padding-right: .5em;

}

.full-question-content {
  margin-top: 2vh;
}

.full-question-text {
  margin-bottom: 1vh;

  h3 {
    font-family: $large;
  }
}
